table {
    border-collapse: collapse;
    width: 700px;
    
    background-color: white;
  }
  
  thead{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  }
  
  /* 테이블 행 */
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    padding: 8px;
    text-align: left;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #000;
  }
  
  /* 테이블 올렸을 때 */
  tbody tr:hover {
    background-color: #d3d3d3;
    opacity: 0.9;
    cursor: pointer;
  }
  
  /* 테이블 비율 */
  th:nth-child(1),
  td:nth-child(1) {
    width: 20%;
  }
  
  th:nth-child(2),
  td:nth-child(2) {
    width: 15%;
  }
  
  th:nth-child(3),
  td:nth-child(3) {
    width: 10%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 10%;
  }

  th:nth-child(6),
  td:nth-child(6) {
    width: 10%;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 10%;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 15%;
  }
  
  
  
  

  
  th, td {
    border-left: none;
    border-right: none;
  }